<%- include('./head')-%>
<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 style="color:rgb(214, 77, 88);">Ingrese datos</h1>
            <br/>

            <form action="/datos" method="post">

                <div class="form-group">
                    <label for="nombre"><b>Nombre</b></label>
                    <input type="text" id="nombre" class="form-control" name="nombre">
                </div>

                <div class="form-group">
                    <label for="precio"><b>Precio</b></label>
                    <input type="number" id="precio" class="form-control" name="precio">
                </div>

                <div class="form-group">
                    <label for="url"><b>Url</b></label>
                    <input type="text" id="url" class="form-control" name="url">
                </div>

                <button class="btn btn-success mt-3 mb-5">Enviar</button>
            </form>

            
            

        </div>
    </div>
</body>

<%- include('./footer') -%>