extends layout 

block formulario 
        <form action="/datos" method="post" enctype="multipart/form-data">
        <div class="form-group">
        <label for="nombre"><b>Nombre</b></label>
        <input type="text" id="nombre" class="form-control" name="nombre">
        </div>
        <div class="form-group">
        <label for="apellido"><b>apellido</b></label>
        <input type="text" id="apellido" class="form-control" name="apellido">
        </div>
        <div class="form-group">
        <label for="apellido"><b>Url </b></label>
        <input type="text" id="url" class="form-control" name="Url">
        <button class="btn btn-success mt-3 mb-5">Enviar</button>
        </form>


