<div class="container">
    <div class="jumbotron py-3 mt-5 h-50 text-center" style="background-color:#FB775C;">
        <h1 class="text-light">USER ERROR LOGIN</h1>
        <a href="http://localhost:8080/login" class="btn btn-warning mt-5">VOLVER</a>
    </div>
</div>