<script type="module" src="./main.js"></script>

<div class="container mt-3">
    <div id="UserContainer">
        <div class="d-flex justify-content-between jumbotron py-2" style="background-color:#90EE90;">
            <h1 style="color:#006400;">
            <strong>Bienvenido {{nombre}}</strong>
            </h1>
            <form action="/logout" method="post" class="align-self-center">
                <input type="submit" class="btn btn-warning" id="btnLogOut" value="Desloguear">
            </form>
        </div>
    </div>

    <div class="jumbotron">

        <h1 style="color:blue;">Ingrese datos</h1>
        <br/>

        <form>

            <div class="form-group">
                <label for="nombre"><b>Nombre</b></label>
                <input type="text" id="nombre" class="form-control" name="title" required>
            </div>

            <div class="form-group">
                <label for="Precio"><b>Precio</b></label>
                <input type="number" id="Precio" class="form-control" name="price" required>
            </div>

            <div class="form-group">
                <label for="URLImagen"><b>URL imagen</b></label>
                <input type="url" id="URLImagen" class="form-control" name="thumbnail" required>
            </div>

            <input type="submit" class="btn btn-success mt-3" id="enviarProd" value="Enviar">

        </form>

        <br/>

        <div class="border-top border-dark mt-3 pt-5" id="vistaContainer"></div>

    </div>
</div>    

<div class="container">
    <div class="jumbotron">

        <h1 style="color:blue;">Centro de Mensajes</h1>
        <h2 style="color:blue;" id="porcentaje_compresion"></h2>
        <form>

            <input id="enviarEmail" type="email" class="my-3 w-50" placeholder='email' required>

            <input id="enviarNombre" type="text" class="my-3 w-50" placeholder='nombre' required>

            <input id="enviarApellido" type="text" class="my-3 w-50" placeholder='apellido' required>

            <input id="enviarEdad" type="number" class="my-3 w-50" placeholder='edad' required>

            <input id="enviarAlias" type="text" class="my-3 w-50" placeholder='alias' required>

            <input id="enviarAvatar" type="url" class="my-3 w-50" placeholder='avatar'>

            <div id="contenedorMsj" class="mb-3 border-top border-dark pt-3"></div>

            <input type="text" id="enviarMsj" class="mr-2" placeholder="ingresá un mensaje..." required>
                
            <button type="submit" class="bg-primary text-white border rounded" id="btnMsj">Enviar</button>
            
        </form>
    </div>
</div>