<div class="container mt-3">

    <div class="jumbotron">
        <h1 style="color:blue;">Test de productos</h1>
        <br/>

        <div class="table-responsive">
            <table class="table table-dark">    
                <tr class="text-white fw-bold"> 
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                </tr>

                {{#each productosFake}}
                    <tr>
                        <td class="align-middle">{{id}}</td>
                        <td class="align-middle">{{title}}</td>
                        <td class="align-middle">${{price}}</td>
                        <td class="align-middle">
                            <img src={{thumbnail}} style="width: 80px">
                        </td>
                    </tr>
                {{~/each}}

            </table>
        </div>

    </div>
</div>