<script>
  setTimeout(function() {
    window.location.href = "/session/login"; 
  }, 2000);
</script>

<div id="logoutContainer" class="container">
    <div class="jumbotron py-2 mt-5" style="background-color:#ADD8E6;">
        <h1 style="color:#00008B;">BYE {{user.username}}</h1>
    </div>
</div>