<div id="loginContainer" class="container">
    <div class="jumbotron py-3 mt-5">
        <h1 style="color:blue;">Login de usuario</h1>
        <form action="/login" method="post">
            <label for="URLImagen"><strong>Ingrese su nombre</strong></label>
            <input type="text" id="name" class="form-control" name="name" required>
            <input type="submit" class="btn btn-success mt-3" id="btnLogIn" value="ingresar">
        </form>
    </div>
</div>