<!-- .table-{color} can be use with .table, thead, tbody, tr, th and td -->
<% if(productos_test.length > 0){ %>
    <div class="table-responsive">
      <table class="table table-dark">
        <tr style="color: rgb(66, 61, 135)">
          <th>Nombre</th>
          <th>Precio</th>
          <th>Foto</th>
        </tr>
        <%productos_test.forEach(function(productos_test) { %>
        <tr>
          <td><%=productos_test.nombre%></td>
          <td><%=productos_test.precio%></td>
          <td><%=productos_test.url%></td>
        </tr>
        <%});%>
      </table>
      <div>
        <!-- <button onclick="window.location.replace('/formulario')"
        type="button" 
        class="btn btn-success"
        >Volver</button> -->
  
    </div>
  </div>
  <% } else { %>
  <h3 class="alert alert-danger">No se encontraron datos</h3>
  <% } %>