<div id="registerContainer" class="container">
    <div class="jumbotron py-3 mt-5">
        <h1 style="color:blue;">Registro de usuario</h1>
        <form action="/session/register" method="post" enctype="multipart/form-data" class="my-4">
            <div class="d-flex flex-column mb-2">
                <label>Nombre:</label>
                <input type="text" id="name" class="form-control" name="name" placeholder="nombre" required>
            </div>
            <div class="d-flex flex-column mb-2">
                <label>Email:</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="ej: 'jorgito@gmail.com'" required>
            </div>
            <div class="d-flex flex-column mb-2">
                <label>contraseña:</label>
                <input type="text" id="password" class="form-control" name="password" placeholder="password" required>
            </div>
            <div class="d-flex flex-column mb-2">
                <label>Dirección:</label>
                <input type="text" id="address" class="form-control" name="address" placeholder="ej: 'Riobamba 234'" required>
            </div>
            <div class="d-flex flex-column mb-2">
                <label>Edad:</label>
                <input type="number" id="age" class="form-control" name="age" placeholder="ej: '25'" required>
            </div>
            <div class="d-flex flex-column mb-2">
                <label>Número celular:</label>
                <input type="number" id="phone_number" class="form-control" name="phone_number" placeholder="Sin prefijo - ej: '115476xxxx'" required>
            </div>
            <div class="d-flex flex-column">
                <label>Foto de perfil:</label>
                <input type="file" name="image">
            </div>

            <input type="submit" class="btn btn-success mt-4" id="btnRegister" value="Register">
        </form>
        <div class="border-top border-dark">
            <form action="/session/login" method="GET">
                <input type="submit" class="btn btn-success mt-3" id="LoginBtn" value="ir a Login">
            </form>
        </div>
    </div>
</div>