{{#if productos.length}}
  
  <div  class="table-responsive">
    <table action="/tabla" class="table table-dark">
      <tr style="color: rgb(66, 61, 135);">
        <th>Nombre</th>
        <th>Precio</th>
        <th>Url</th>
      </tr>
      {{#each productos}}
        <tr>
          <td>{{nombre}}</td>
          <td>{{precio}}</td>
          <td>{{url}}</td>
        </tr>
      {{/each}}
    </table>

    <div>
      
    </div>
  </div>
{{else}}
  <h3 class="alert alert-danger">No se encontraron datos</h3>
{{/if}}
<button
        onclick={window.location.replace("/formulario")}
        type="button"
        class="btn btn-success"
      >Volver</button>
