<div class="container">
    <div class="jumbotron py-3 mt-5 h-50 text-center" style="background-color:#FB775C;">
        <h1 class="text-light">USER ERROR LOGIN</h1>
        <form action="/session/login" method="GET">
            <input type="submit" class="btn btn-warning mt-5" value="VOLVER">
        </form>
    </div>
</div>