<script src="/socket.io/socket.io.js"></script>

<div class="container">
  <div class="jumbotron">

    <h1 style="color:rgb(255, 0, 140);">Chat</h1>
    <form>

      <div id="msjContainer" class="mb-3 border-top border-dark pt-3"></div>

      <input
        type="text"
        id="sendMsj"
        class="mr-2"
        placeholder="ingresá un mensaje..."
        required
      />

      <button
        type="submit"
        class="bg-primary text-white border rounded"
        id="btnMsj"
      >Enviar</button>

    </form>
  </div>

      <div class="jumbotron">
        <form action="/" method="GET" class="text-center">
            <input
                type="submit"
                class="btn btn-success mt-3 w-25"
                value="Volver a inicio"
                style="font-size: 2rem;"
            />
        </form>
    </div>
</div>

<script 
    type="module" 
    src="/js/chat_view.js"
></script>